script(type='text/javascript').
    if (typeof module == 'object') {
        window.module = module;
        module = undefined
    }
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery-layout/1.4.3/jquery.layout.min.js')
//-script(src='https://cdn.rawgit.com/johnny/jquery-sortable/master/source/js/jquery-sortable-min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js')
script(type='text/javascript', src='https://cdn.rawgit.com/jeremyfa/yaml.js/develop/dist/yaml.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.js')
script(type="text/javascript" ,src="https://cdnjs.cloudflare.com/ajax/libs/riot/3.7.4/riot+compiler.js")
script(type="text/javascript" ,src='https://cdn.rawgit.com/j-ulrich/jquery-simulate-ext/13829b2b/libs/jquery.simulate.js')
script(type="text/javascript" ,src='https://cdn.rawgit.com/j-ulrich/jquery-simulate-ext/13829b2b/src/jquery.simulate.ext.js')
script(type="text/javascript" ,src='https://cdn.rawgit.com/j-ulrich/jquery-simulate-ext/13829b2b/libs/bililiteRange.js')
script(type="text/javascript" ,src='https://cdn.rawgit.com/j-ulrich/jquery-simulate-ext/13829b2b/src/jquery.simulate.key-sequence.js')
script(type="text/javascript" ,src='https://cdn.rawgit.com/j-ulrich/jquery-simulate-ext/13829b2b/src/jquery.simulate.drag-n-drop.js')


